# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ComplexGameUnity.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Thomas Lamb\Desktop\GithubRepos\CGS\ComplexGameUnity\.idea\.idea.ComplexGameUnity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
